<p>alimento-cadastro works!</p>

<mat-tab-group>
  <mat-tab label="Cadastrar Alimento">
    <form class="example-form" (ngSubmit)="cadastroAlimento()">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cadastrar Alimento</mat-label>
          <input
            matInput
            placeholder="Ex: Banana"
            type="text"
            id="nome"
            name="nome"
            [(ngModel)]="cadastroAlimentoModel.nome"
          />
        </mat-form-field>
        <button mat-raised-button type="submit">Cadastrar</button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Atualizar Cadastro">
    <form class="example-form" (ngSubmit)="atualizaCadastro()">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ID</mat-label>
          <input
            matInput
            placeholder="Ex: 3"
            type="text"
            id="idAtuliza"
            name="idAtuliza"
            [(ngModel)]="atualizaAlimentoModel.id"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Ex: Banana"
            type="text"
            id="nome2"
            name="nome2"
            [(ngModel)]="atualizaAlimentoModel.nome"
          />
        </mat-form-field>
        <button mat-raised-button type="submit">Atualizar</button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Listar Alimentos">
    <div class="listaAlimentosAPI">
      <form>
        <table>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NOME</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alimento of listaAlimentos">
              <td>{{ alimento.id }}</td>
              <td>{{ alimento.nome }}</td>
            </tr>
          </tbody>
        </table>
        <button mat-raised-button (click)="listarAlimentos()">Consultar</button>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Consultar Alimento">
    <div>
      <div>
        <h1>POR ID</h1>
        <label>ID: </label>
        <input [(ngModel)]="alimentoID" />
      </div>
      <div>
        <button mat-raised-button (click)="consultaAlimentoID()">
          Consultar
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ alimentoIDModel.id }}</td>
            <td>{{ alimentoIDModel.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <h1>POR Nome</h1>
        <label>Nome: </label>
        <input [(ngModel)]="alimentoNome" />
      </div>
      <div>
        <button mat-raised-button (click)="consultaAlimentoNome()">
          Consultar
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alimento of listaAlimentosNome">
            <td>{{ alimento.id }}</td>
            <td>{{ alimento.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
