<p>alimento-cadastro works!</p>

<!-- API CADASTRAR ALIMENTO -->
<mat-tab-group>
  <mat-tab label="Cadastrar Alimento">
    <form class="example-form" (ngSubmit)="cadastroAlimento()">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Cadastrar Alimento</mat-label>
          <input
            matInput
            placeholder="Ex: Banana"
            type="text"
            id="nome"
            name="nome"
            [(ngModel)]="cadastroAlimentoModel.nome"
          />
        </mat-form-field>
        <button mat-raised-button type="submit">Cadastrar</button>
      </div>
    </form>
  </mat-tab>

  <!-- API ATUALIZAR CADASTRO -->
  <mat-tab label="Atualizar Cadastro">
    <form class="example-form" (ngSubmit)="atualizaCadastro()">
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>ID</mat-label>
          <input
            matInput
            placeholder="Ex: 3"
            type="text"
            id="idAtuliza"
            name="idAtuliza"
            [(ngModel)]="atualizaAlimentoModel.id"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Ex: Banana"
            type="text"
            id="nome2"
            name="nome2"
            [(ngModel)]="atualizaAlimentoModel.nome"
          />
        </mat-form-field>
        <button mat-raised-button type="submit">Atualizar</button>
      </div>
    </form>
  </mat-tab>

  <!-- API LISTAR ALIMENTOS -->
  <mat-tab label="Listar Alimentos">
    <button mat-raised-button (click)="listarAlimentos()">Consultar</button>
    <div class="search-div">
      <button mat-raised-button>
        <mat-icon>add</mat-icon>
        Create
      </button>
      <mat-form-field class="search-form-field">
        <input matInput (ngSubmit)="consultaAlimentoNome()" placeholder="Search" autocomplete="off">
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8 data-table">
      <table mat-table [dataSource]="listaAlimentos" matSort>
        <!-- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Coluna -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let alimento">{{ alimento.id }}</td>
        </ng-container>

        <!-- Nome Coluna -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let alimento">{{ alimento.nome }}</td>
        </ng-container>

        <!-- Actions Coluna -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button><mat-icon>launch</mat-icon></button>
            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>

    <div>
      <h3>Click Log</h3>
    </div>

    <div *ngIf="!clickedRows.size">Clicked rows will be logged here</div>

    <ul>
      <li *ngFor="let clickedRow of clickedRows">
        Clicked on {{ clickedRow.nome }}
      </li>
    </ul>
  </mat-tab>

  <!-- API CONSULTAR ALIMENTO -->
  <mat-tab label="Consultar Alimento">
    <div>
      <div>
        <h1>POR ID</h1>
        <label>ID: </label>
        <input [(ngModel)]="alimentoID" />
      </div>
      <div>
        <button mat-raised-button (click)="consultaAlimentoID()">
          Consultar
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ alimentoIDModel.id }}</td>
            <td>{{ alimentoIDModel.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <div>
        <h1>POR Nome</h1>
        <label>Nome: </label>
        <input [(ngModel)]="alimentoNome" />
      </div>
      <div>
        <button mat-raised-button (click)="consultaAlimentoNome()">
          Consultar
        </button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alimento of listaAlimentosNome">
            <td>{{ alimento.id }}</td>
            <td>{{ alimento.nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
